[submodule "yasnippet/snippets"]
	path = yasnippet/snippets
	url = https://github.com/AndreaCrotti/yasnippet-snippets.git
[submodule "site-lisp/keyfreq"]
	path = site-lisp/keyfreq
	url = https://github.com/dacap/keyfreq.git
[submodule "site-lisp/elpa-mirror"]
	path = site-lisp/elpa-mirror
	url = https://github.com/redguardtoo/elpa-mirror.git
[submodule "site-lisp/emacs-livedown"]
	path = site-lisp/emacs-livedown
	url = https://github.com/shime/emacs-livedown.git
[submodule "site-lisp/stylus-mode"]
	path = site-lisp/stylus-mode
	url = https://github.com/vladh/stylus-mode.git
