[submodule "yasnippet/snippets"]
	path = yasnippet/snippets
	url = https://github.com/AndreaCrotti/yasnippet-snippets.git
[submodule "site-lisp/keyfreq"]
	path = site-lisp/keyfreq
	url = https://github.com/dacap/keyfreq.git
[submodule "site-lisp/elpa-mirror"]
	path = site-lisp/elpa-mirror
	url = https://github.com/redguardtoo/elpa-mirror.git
[submodule "site-lisp/emacs-livedown"]
	path = site-lisp/emacs-livedown
	url = https://github.com/shime/emacs-livedown.git
[submodule "site-lisp/stylus-mode"]
	path = site-lisp/stylus-mode
	url = https://github.com/vladh/stylus-mode.git
[submodule "site-lisp/fsc.el"]
	path = site-lisp/fsc.el
	url = https://github.com/kuanyui/fsc.el.git
[submodule "site-lisp/powerline"]
	path = site-lisp/powerline
	url = https://github.com/milkypostman/powerline.git
[submodule "site-lisp/sidebar.el"]
	path = site-lisp/sidebar.el
	url = https://github.com/sebastiencs/sidebar.el

	